:root {
    --borde: "#0075FF";
    --error: "#bb2929";
    --exito: "#1ed12d";
    --grisclaro: "#cfe2f5";
    --secundario: "#0097a7";
    --primario: "ffc107";
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(244, 246, 246);
}

main {

    max-width: 1000px;
    width: 90%;
    margin: auto;

}

.border :focus {
    border: 3px solid var(--borde);
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
.border-error :focus{
    border: 3px solid var(--error);
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4); 
}